*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body,
#root{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
main{
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
}
main .left,main .right{
 height: 100%;
 flex-basis: 50%;
 border-radius: 0.7rem;
}
.left .code,.code pre,.code pre code{
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0.7rem;
}
main .left{
    background-color: #000000;
    position: relative;
}
main .left .review{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgb(60, 60, 251);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 2rem;
    border-radius: 0.7rem;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}
main .right{
    background-color: #6c6c6c;
    color:white;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    overflow: auto;
}